<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mhys.cyxy.mapper.LecturerMapper">
    <select id="getDicMsg" resultType="java.util.Map">
        select lecturer_id id, lecturer_name name from lecturer;
    </select>

</mapper>