<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mhys.cyxy.mapper.VideoMapper">
    <select id="getAllVideoRate" resultMap="videoVO">
        select sum(real_watch_num)/sum(should_watch_num) rate  from video
            where term_id = #{termId} and week_id = #{weekId} ;
    </select>

    <select id="getVideoRateByClasses" resultMap="videoVO">
        select g.grade_name,c.classes_name, sum(real_watch_num)/sum(should_watch_num) rate
            from video v, classes c, grade g
            where v.classes_id=c.classes_id and c.grade_id = g.grade_id
            and term_id = #{termId} and week_id = #{weekId}
            GROUP BY g.grade_name, c.classes_name;
    </select>

    <select id="getVideoRateByGrade" resultMap="videoVO">
        select g.grade_name, sum(real_watch_num) real_watch_num, sum(should_watch_num) should_watch_num, sum(real_watch_num)/sum(should_watch_num) rate
            from video v, classes c, grade g
            where v.classes_id=c.classes_id and c.grade_id = g.grade_id
                and term_id = #{termId} and week_id = #{weekId}
                GROUP BY g.grade_name;
    </select>

    <select id="getVideoRateByCourse" parameterType="java.lang.Integer" resultMap="videoVO">
        select course_name, sum(real_watch_num)/sum(should_watch_num) rate  from video, course, classes, grade where
        video.course_id = course.course_id and video.classes_id = classes.classes_id
        and classes.grade_id = grade.grade_id and grade.grade_id = #{gradeId}  GROUP BY course.course_name
    </select>

    <select id="getMaxTermId" resultType="java.lang.Integer">
        select MAX(term_id) from video;
    </select>

    <select id="getMaxWeekId" resultType="java.lang.Integer">
        select MAX(week_id) from video where term_id = (select MAX(term_id) from video);
    </select>

    <select id="selectAllVideoByPage" parameterType="com.mhys.cyxy.domain.dto.VideoDTO" resultMap="videoVO">
        select v.video_id, v.is_able, c.course_id, cp.chapter_id, cls.classes_id,tu.tutor_id,l.lecturer_id,t.term_id, w.week_id, g.grade_id,
         v.should_watch_num, v.real_watch_num,(v.should_watch_num/v.real_watch_num) rate, c.course_name, cp.chapter_name, t.term_name, w.week_name, cls.classes_name, g.grade_name,
	        tu.tutor_name, l.lecturer_name
	        from video v, course c, chapter cp, term t, `week` w, grade g, classes cls, tutor tu, lecturer l
	        where v.course_id = c.course_id and v.chapter_id = cp.chapter_id and v.term_id = t.term_id
	            and v.week_id = w.week_id and v.classes_id = cls.classes_id and g.grade_id = cls.grade_id
	            and v.tutor_id = tu.tutor_id and v.lecturer_id = l.lecturer_id
		    <if test="termId != null">
                and v.term_id = #{termId}
            </if>
            <if test="weekId != null">
                and v.week_id = #{weekId}
            </if>
            <if test="gradeId != null">
                and g.grade_id = #{gradeId}
            </if>
            <if test="classesId != null">
                and cls.classes_id = #{classesId}
            </if>
            <if test="tutorId != null">
                and tu.tutor_id = #{tutorId}
            </if>
            <if test="lecturerId != null">
                and l.lecturer_id = #{lecturerId}
            </if>
            <if test="courseId != null">
                and c.course_id = #{courseId}
            </if>
            <if test="chapterId != null">
                and cp.chapter_id = #{chapterId}
            </if>
            <if test="isAble != null">
                and v.is_able = #{isAble}
            </if>
            <if test="termName != null">
                and t.term_name like '%${termName}%'
            </if>
            <if test="weekName != null">
                and w.week_name like '%${weekName}%'
            </if>
            <if test="gradeName != null">
                and g.grade_name like '%${gradeName}%'
            </if>
            <if test="classesName != null">
                and cls.classes_name like '%${classesName}%'
            </if>
            <if test="tutorName != null">
                and tu.tutor_name like '%${tutorName}%'
            </if>
            <if test="lecturerName != null">
                and l.lecturer_name like '%${lecturerName}%'
            </if>
            <if test="courseName != null">
                and c.course_name like '%${courseName}%'
            </if>
            <if test="chapterName != null">
                and cp.chapter_name like '%${chapterName}%'
            </if>
		    order by v.video_id desc
    </select>

    <insert id="addVideo" useGeneratedKeys="true" keyProperty="videoId" parameterType="com.mhys.cyxy.domain.Video">
        INSERT INTO video(course_id, chapter_id,classes_id,tutor_id,lecturer_id,term_id,week_id,should_watch_num,real_watch_num,is_able)
	        VALUES(#{courseId},#{chapterId},#{classesId},#{tutorId},#{lecturerId},#{termId},#{weekId},#{shouldWatchNum},#{realWatchNum},#{isAble})
    </insert>

    <select id="selectVideoById" parameterType="java.lang.Integer" resultMap="videoVO">
    select v.video_id, v.is_able, c.course_id, cp.chapter_id, cls.classes_id,tu.tutor_id,l.lecturer_id,t.term_id, w.week_id, g.grade_id,
             v.should_watch_num, v.real_watch_num,(v.should_watch_num/v.real_watch_num) rate, c.course_name, cp.chapter_name, t.term_name, w.week_name, cls.classes_name, g.grade_name,
                tu.tutor_name, l.lecturer_name
                from video v, course c, chapter cp, term t, `week` w, grade g, classes cls, tutor tu, lecturer l
                where v.course_id = c.course_id and v.chapter_id = cp.chapter_id and v.term_id = t.term_id
                    and v.week_id = w.week_id and v.classes_id = cls.classes_id and g.grade_id = cls.grade_id
	                and v.tutor_id = tu.tutor_id and v.lecturer_id = l.lecturer_id
                    and video_id = #{videoId}
    </select>

    <update id="updateVideo" parameterType="com.mhys.cyxy.domain.Video">
        update video set
        <if test="courseId != null">
            course_id = #{courseId},
        </if>
        <if test="chapterId != null">
            chapter_id = #{chapterId},
        </if>
        <if test="classesId != null">
            classes_id = #{classesId},
        </if>
        <if test="tutorId != null">
            tutor_id = #{tutorId},
        </if>
        <if test="lecturerId != null">
            lecturer_id = #{lecturerId},
        </if>
        <if test="classesId != null">
            classes_id = #{classesId},
        </if>
        <if test="termId != null">
            term_id = #{termId},
        </if>
        <if test="weekId != null">
            week_id = #{weekId},
        </if>
        <if test="shouldWatchNum != null">
            should_watch_num = #{shouldWatchNum},
        </if>
        <if test="realWatchNum != null">
            real_watch_num = #{realWatchNum},
        </if>
        <if test="isAble != null">
            is_able = #{isAble},
        </if>
        video_id = #{videoId}
        where video_id = #{videoId}
    </update>

    <delete id="deleteVideoById" parameterType="java.lang.Integer">
        delete from video where video_id = #{videoId}
    </delete>

    <resultMap id="videoVO" type="com.mhys.cyxy.domain.vo.VideoVO">
        <id column="video_id" jdbcType="INTEGER" property="videoId" />
        <result column="course_id" jdbcType="INTEGER" property="courseId" />
        <result column="chapter_id" jdbcType="INTEGER" property="chapterId" />
        <result column="grade_id" jdbcType="INTEGER" property="gradeId" />
        <result column="classes_id" jdbcType="INTEGER" property="classesId" />
        <result column="tutor_id" jdbcType="INTEGER" property="tutorId" />
        <result column="lecturer_id" jdbcType="INTEGER" property="lecturerId" />
        <result column="term_id" jdbcType="INTEGER" property="termId" />
        <result column="week_id" jdbcType="INTEGER" property="weekId" />
        <result column="rate" jdbcType="FLOAT" property="rate" />
        <result column="term_name" jdbcType="VARCHAR" property="termName" />
        <result column="week_name" jdbcType="VARCHAR" property="weekName" />
        <result column="real_watch_num" jdbcType="INTEGER" property="realWatchNum" />
        <result column="should_watch_num" jdbcType="INTEGER" property="shouldWatchNum" />
        <result column="course_name" jdbcType="VARCHAR" property="courseName" />
        <result column="chapter_name" jdbcType="VARCHAR" property="chapterName" />
        <result column="grade_name" jdbcType="VARCHAR" property="gradeName" />
        <result column="classes_name" jdbcType="VARCHAR" property="classesName" />
        <result column="tutor_name" jdbcType="VARCHAR" property="tutorName" />
        <result column="lecturer_name" jdbcType="VARCHAR" property="lecturerName" />
        <result column="is_able" jdbcType="INTEGER" property="isAble" />
    </resultMap>


</mapper>