<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mhys.cyxy.mapper.WeeklyExamMapper">
    <select id="getExamResultByClasses" resultMap="weeklyExamVO">
        select w.week_name,grade_name, classes_name,lecturer_name,tutor_name,course_name,
            lt60/students_num lt60_rate, gt60_lt70/students_num gt60_lt70_rate,
            gt70_lt80/students_num gt70_lt80_rate, gt80_lt90/students_num gt80_lt90_rate,
            gt90_lt100/students_num gt90_lt100_rate
            from weekly_exam e,grade g, classes c, lecturer l, tutor t, course co, week w
            where e.classes_id = c.classes_id and e.lecturer_id = l.lecturer_id
                and e.tutor_id = t.tutor_id and e.course_id = co.course_id and e.week_id = w.week_id and g.grade_id = c.grade_id
                and term_id= #{termId} and e.week_id= #{weekId};
    </select>

    <select id="getExamResultByWeek" resultMap="weeklyExamVO">
        select  g.grade_name, w.week_name, sum(students_num-lt60)/sum(students_num) rate
            from weekly_exam e, week w, classes c, grade g, lecturer l, tutor t
            where e.week_id = w.week_id and e.classes_id = c.classes_id and c.grade_id = g.grade_id
                and e.lecturer_id = l.lecturer_id and e.tutor_id = t.tutor_id
                and e.term_id = (select max(term_id) from weekly_exam)
                and e.week_id &gt;= #{beginWeekId} and e.week_id &lt; #{endWeekId}
                group by grade_name, week_name
    </select>

    <select id="getAllExamResult" resultMap="weeklyExamVO">
        select sum(students_num-lt60)/sum(students_num) rate
	        from weekly_exam
	        where term_id = #{termId} and week_id = #{weekId}
    </select>

    <select id="getMaxTerm" resultType="java.lang.Integer">
        select max(term_id) from weekly_exam;
    </select>

    <select id="getMaxWeek" resultType="java.lang.Integer">
        select max(week_id) from weekly_exam where term_id = (select max(term_id) from weekly_exam);
    </select>

    <select id="selectAllExamResultByPage" parameterType="com.mhys.cyxy.domain.dto.WeeklyExamDTO" resultMap="weeklyExamVO">
        select e.exam_id,e.course_id,e.classes_id,e.term_id,e.week_id,e.lecturer_id,e.tutor_id,g.grade_id,
            e.lt60,e.gt60_lt70,e.gt70_lt80,e.gt80_lt90,e.gt90_lt100, e.students_num,
            lt60/students_num lt60_rate, gt60_lt70/students_num gt60_lt70_rate,
            gt70_lt80/students_num gt70_lt80_rate, gt80_lt90/students_num gt80_lt90_rate,
            gt90_lt100/students_num gt90_lt100_rate,
            (e.students_num-e.lt60)/e.students_num rate,
            e.is_able,c.course_name,cls.classes_name,t.term_name,w.week_name,l.lecturer_name,tu.tutor_name,g.grade_name
            from weekly_exam e, course c,classes cls,term t,`week` w,lecturer l, tutor tu, grade g
            where e.course_id=c.course_id and e.classes_id=cls.classes_id and e.term_id=t.term_id
                and e.week_id=w.week_id and e.tutor_id=tu.tutor_id and e.lecturer_id=l.lecturer_id
                and cls.grade_id=g.grade_id
                <if test="termId != null">
                    and t.term_id = #{termId}
                </if>
                <if test="weekId != null">
                    and w.week_id = #{weekId}
                </if>
                <if test="gradeId != null">
                    and g.grade_id = #{gradeId}
                </if>
                <if test="classesId != null">
                    and cls.classes_id = #{classesId}
                </if>
                <if test="courseId != null">
                    and c.course_id = #{courseId}
                </if>
                <if test="tutorId != null">
                    and tu.tutor_id = #{tutorId}
                </if>
                <if test="lecturerId != null">
                    and l.lecturer_id = #{lecturerId}
                </if>
                <if test="isAble != null">
                    and e.is_able = #{isAble}
                </if>
                <if test="termName != null">
                    and t.term_name like '%${termName}%'
                </if>
                <if test="weekName != null">
                    and w.week_name like '%${weekName}%'
                </if>
                <if test="gradeName != null">
                    and g.grade_name like '%${gradeName}%'
                </if>
                <if test="classesName != null">
                    and cls.classes_name like '%${classesName}%'
                </if>
                <if test="courseName != null">
                    and c.course_name like '%${courseName}%'
                </if>
                <if test="tutorName != null">
                    and tu.tutor_name like '%${tutorName}%'
                </if>
                <if test="lecturerName != null">
                    and l.lecturer_name like '%${lecturerName}%'
                </if>
                order by e.exam_id desc
    </select>

    <select id="selectExamResultById" parameterType="java.lang.Integer" resultMap="weeklyExamVO">
        select e.exam_id,e.course_id,e.classes_id,e.term_id,e.week_id,e.lecturer_id,e.tutor_id,g.grade_id,
            e.lt60,e.gt60_lt70,e.gt70_lt80,e.gt80_lt90,e.gt90_lt100, e.students_num,(e.students_num-e.lt60)/e.students_num rate,
            lt60/students_num lt60_rate, gt60_lt70/students_num gt60_lt70_rate,
            gt70_lt80/students_num gt70_lt80_rate, gt80_lt90/students_num gt80_lt90_rate,
            gt90_lt100/students_num gt90_lt100_rate,
            (e.students_num-e.lt60)/e.students_num rate,
            e.is_able,c.course_name,cls.classes_name,t.term_name,w.week_name,l.lecturer_name,tu.tutor_name,g.grade_name
            from weekly_exam e, course c,classes cls,term t,`week` w,lecturer l, tutor tu, grade g
            where e.course_id=c.course_id and e.classes_id=cls.classes_id and e.term_id=t.term_id
                and e.week_id=w.week_id and e.tutor_id=tu.tutor_id and e.lecturer_id=l.lecturer_id
                and cls.grade_id=g.grade_id
                and e.exam_id = #{examId}
    </select>

    <insert id="addWeeklyExam" useGeneratedKeys="true" keyProperty="examId" parameterType="com.mhys.cyxy.domain.WeeklyExam">
        insert into weekly_exam(course_id,classes_id,term_id,week_id,lecturer_id,tutor_id,lt60,gt60_lt70,gt70_lt80,gt80_lt90,gt90_lt100,students_num,is_able)
            value (#{courseId},#{classesId},#{termId},#{weekId},#{lecturerId},#{tutorId},#{lt60},#{gt60Lt70},#{gt70Lt80},#{gt80Lt90},#{gt90Lt100},#{studentsNum},#{isAble})
    </insert>

    <update id="updateWeeklyExam" parameterType="com.mhys.cyxy.domain.WeeklyExam">
        update weekly_exam
        set
        <if test="courseId != null">
            course_id = #{courseId},
        </if>
        <if test="classesId != null">
            classes_id = #{classesId},
        </if>
        <if test="termId != null">
            term_id = #{termId},
        </if>
        <if test="weekId != null">
            week_id = #{weekId},
        </if>
        <if test="tutorId != null">
            tutor_id = #{tutorId},
        </if>
        <if test="lecturerId != null">
            lecturer_id = #{lecturerId},
        </if>
        <if test="lt60 != null">
            lt60 = #{lt60},
        </if>
        <if test="gt60Lt70 != null">
            gt60_lt70 = #{gt60Lt70},
        </if>
        <if test="gt70Lt80 != null">
            gt70_lt80 = #{gt70Lt80},
        </if>
        <if test="gt80Lt90 != null">
            gt80_lt90 = #{gt80Lt90},
        </if>
        <if test="gt90Lt100 != null">
            gt90_lt100 = #{gt90Lt100},
        </if>
        <if test="studentsNum != null">
            students_num = #{studentsNum},
        </if>
        <if test="isAble != null">
            is_able = #{isAble},
        </if>
        and exam_id = #{examId}
        where exam_id = #{examId}
    </update>

    <delete id="deleteWeeklyExamById" parameterType="java.lang.Integer">
        delete from weekly_exam where exam_id = #{examId}
    </delete>

    <resultMap id="weeklyExamVO" type="com.mhys.cyxy.domain.vo.WeeklyExamVO">
        <result column="exam_id" jdbcType="INTEGER" property="examId" />
        <result column="course_id" jdbcType="INTEGER" property="courseId" />
        <result column="grade_id" jdbcType="INTEGER" property="gradeId" />
        <result column="classes_id" jdbcType="INTEGER" property="classesId" />
        <result column="term_id" jdbcType="INTEGER" property="termId" />
        <result column="week_id" jdbcType="INTEGER" property="weekId" />
        <result column="lecturer_id" jdbcType="INTEGER" property="lecturerId" />
        <result column="tutor_id" jdbcType="INTEGER" property="tutorId" />
        <result column="course_name" jdbcType="VARCHAR" property="courseName" />
        <result column="grade_name" jdbcType="VARCHAR" property="gradeName" />
        <result column="classes_name" jdbcType="VARCHAR" property="classesName" />
        <result column="term_name" jdbcType="VARCHAR" property="termName" />
        <result column="week_name" jdbcType="VARCHAR" property="weekName" />
        <result column="lecturer_name" jdbcType="VARCHAR" property="lecturerName" />
        <result column="tutor_name" jdbcType="VARCHAR" property="tutorName" />
        <result column="rate" jdbcType="FLOAT" property="rate" />
        <result column="is_able" jdbcType="INTEGER" property="isAble" />
        <result column="lt60" jdbcType="INTEGER" property="lt60" />
        <result column="gt60_lt70" jdbcType="INTEGER" property="gt60Lt70" />
        <result column="gt70_lt80" jdbcType="INTEGER" property="gt70Lt80" />
        <result column="gt80_lt90" jdbcType="INTEGER" property="gt80Lt90" />
        <result column="gt90_lt100" jdbcType="INTEGER" property="gt90Lt100" />
        <result column="lt60_rate" jdbcType="FLOAT" property="lt60Rate" />
        <result column="gt60_lt70_rate" jdbcType="FLOAT" property="gt60Lt70Rate" />
        <result column="gt70_lt80_rate" jdbcType="FLOAT" property="gt70Lt80Rate" />
        <result column="gt80_lt90_rate" jdbcType="FLOAT" property="gt80Lt90Rate" />
        <result column="gt90_lt100_rate" jdbcType="FLOAT" property="gt90Lt100Rate" />
        <result column="students_num" jdbcType="INTEGER" property="studentsNum" />
    </resultMap>

</mapper>