<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mhys.cyxy.mapper.WeeklyExamMapper">
    <select id="getExamResultByClasses" resultMap="weeklyExamVO">
        select w.week_name, classes_name,lecturer_name,tutor_name,course_name,lt60,gt60_lt70,gt70_lt80,gt80_lt90,gt90_lt100
            from weekly_exam e,classes c, lecturer l, tutor t, course co, week w
            where e.classes_id = c.classes_id and e.lecturer_id = l.lecturer_id
                and e.tutor_id = t.tutor_id and e.course_id = co.course_id and e.week_id = w.week_id
                and term_id= #{termId} and e.week_id= #{weekId};
    </select>

    <select id="getExamResultByWeek" resultMap="weeklyExamVO">
        select  g.grade_name, w.week_name, (students_num-lt60)/students_num rate
	        from weekly_exam e, week w, classes c, grade g, lecturer l, tutor t
	        where e.week_id = w.week_id and e.classes_id = c.classes_id and c.grade_id = g.grade_id
		        and e.lecturer_id = l.lecturer_id and e.tutor_id = t.tutor_id
		        and e.week_id &gt;= #{beginWeekId} and e.week_id &lt; #{endWeekId}
		        order by g.grade_name, w.week_name
    </select>

    <select id="getMaxTerm" resultType="java.lang.Integer">
        select max(term_id) from weekly_exam;
    </select>

    <select id="getMaxWeek" resultType="java.lang.Integer">
        select max(week_id) from weekly_exam;
    </select>

    <resultMap id="weeklyExamVO" type="com.mhys.cyxy.domain.vo.WeeklyExamVO">
        <result column="week_name" jdbcType="VARCHAR" property="weekName" />
        <result column="course_name" jdbcType="VARCHAR" property="courseName" />
        <result column="grade_name" jdbcType="VARCHAR" property="gradeName" />
        <result column="classes_name" jdbcType="VARCHAR" property="classesName" />
        <result column="lecturer_name" jdbcType="VARCHAR" property="lecturerName" />
        <result column="tutor_name" jdbcType="VARCHAR" property="tutorName" />
        <result column="rate" jdbcType="FLOAT" property="rate" />
        <result column="lt60" jdbcType="FLOAT" property="lt60" />
        <result column="gt60_lt70" jdbcType="FLOAT" property="gt60Lt70" />
        <result column="gt70_lt80" jdbcType="FLOAT" property="gt70Lt80" />
        <result column="gt80_lt90" jdbcType="FLOAT" property="gt80Lt90" />
        <result column="gt90_lt100" jdbcType="FLOAT" property="gt90Lt100" />

    </resultMap>

</mapper>